# Файлы зависимостей
/node_modules

# Файлы сборки
/dist
/dist-ssr

# Логи
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Файлы переменных окружения
# Эти файлы содержат секреты и не должны быть в репозитории!
.env
.env.local
.env.*.local

# Временные файлы редакторов и ОС
.DS_Store
Thumbs.db
*.orig